Regulator po stanjima/slprj/sim/varcache/state_reg_mdl/checksumOfCache.mat
Regulator po stanjima/slprj/sim/varcache/state_reg_mdl/tmwinternal/simulink_cache.xml
Regulator po stanjima/slprj/sim/varcache/state_reg_mdl/varInfo.mat
*.slxc
*.asv
*.xml
*.mat
